main {
  border: 2px dashed black;
  padding: 1em;
  display: grid;
  grid-template-columns: 350px 1fr;
}
    
main aside {
  border: 2px dashed red;
  padding: 1em;
}
    
main aside img {
  width: 100%;
      
}
     
main > section {
  border: 
  2px dashed purple;
  padding: 1em;
}

.galeria img {
  width: auto;
  height: 250px;
  object-fit: cover;
  margin: 5px;
}