body {
    margin: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: grid;
}

.calc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.calc input,
.calc .igual { 
    grid-column: -1 / 1;
}